.dropdown-toggle::after {
    display: none !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.watching-card {
    flex: 0 0 auto; /* shorthand: flex-grow, flew-shrink^1 */
}

.img-container {
    width: 140px;
    aspect-ratio: 2/3;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 0;
}

/* 1. flex-basis (flex item size based on set width or height and if not its content */