<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="Workshop template" />
        <meta name="author" content="Your Name" />
        <title>Bellerin Workshop</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="overflow-x-auto mt-4">
            <div class="d-flex" style="gap: 1rem;">

                <!-- CARD 1 THEE FRAME -->
                <div class="watching-card small">
                    <div class="img-container">
                        <img src="/images/Chihayafuru.webp" alt="Chihayafuru Cover">
                    </div>
                    <div class="meta-container d-flex flex-column">
                        <h6 class="my-1">{{Title}}</h6>
                        <p class="my-0">Watch by: {{date}}</p>
                        <p class="my-0">Ep per day: {{num}}</p>
                        <p class="my-0">Watched: {{n}}/{{n}}</p>
                        <div class="progress my-1" style="height: 8px;"
                            role="progressbar" aria-label="Watched Percentage" 
                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%"></div>
                        </div>
                        <button class="btn btn-outline-primary py-0 btn-sm mb-1">+ 1 ep</button>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="watching-card small">
                    <div class="img-container">
                        <img src="/images/BluePeriod.webp" alt="Blue Period Cover">
                    </div>
                    <div class="meta-container d-flex flex-column">
                        <h6 class="my-1">{{Title}}</h6>
                        <p class="my-0">Watch by: {{date}}</p>
                        <p class="my-0">Ep per day: {{num}}</p>
                        <p class="my-0">Watched: {{n}}/{{n}}</p>
                        <div class="progress my-1" style="height: 8px;"
                            role="progressbar" aria-label="Watched Percentage" 
                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%"></div>
                        </div>
                        <button class="btn btn-outline-primary py-0 btn-sm mb-1">+ 1 ep</button>
                    </div>
                </div>

                <!-- CARD 3 -->
                <div class="watching-card small">
                    <div class="img-container">
                        <img src="/images/PerfectBlue.jpg" alt="Perfect Blue Cover">
                    </div>
                    <div class="meta-container d-flex flex-column">
                        <h6 class="my-1">{{Title}}</h6>
                        <p class="my-0">Watch by: {{date}}</p>
                        <p class="my-0">Ep per day: {{num}}</p>
                        <p class="my-0">Watched: {{n}}/{{n}}</p>
                        <div class="progress my-1" style="height: 8px;"
                            role="progressbar" aria-label="Watched Percentage" 
                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%"></div>
                        </div>
                        <button class="btn btn-outline-primary py-0 btn-sm mb-1">+ 1 ep</button>
                    </div>
                </div>

                <!-- CARD 4 -->
                <div class="watching-card small">
                    <div class="img-container">
                        <img src="/images/Arrietty.jpg" alt="Arrietty Cover">
                    </div>
                    <div class="meta-container d-flex flex-column">
                        <h6 class="my-1">{{Title}}</h6>
                        <p class="my-0">Watch by: {{date}}</p>
                        <p class="my-0">Ep per day: {{num}}</p>
                        <p class="my-0">Watched: {{n}}/{{n}}</p>
                        <div class="progress my-1" style="height: 8px;"
                            role="progressbar" aria-label="Watched Percentage" 
                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%"></div>
                        </div>
                        <button class="btn btn-outline-primary py-0 btn-sm mb-1">+ 1 ep</button>
                    </div>
                </div>

                <!-- CARD 5 -->
                <div class="watching-card small">
                    <div class="img-container">
                        <img src="/images/Chihayafuru.webp" alt="Chihayafuru Cover">
                    </div>
                    <div class="meta-container d-flex flex-column">
                        <h6 class="my-1">{{Title}}</h6>
                        <p class="my-0">Watch by: {{date}}</p>
                        <p class="my-0">Ep per day: {{num}}</p>
                        <p class="my-0">Watched: {{n}}/{{n}}</p>
                        <div class="progress my-1" style="height: 8px;"
                            role="progressbar" aria-label="Watched Percentage" 
                            aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%"></div>
                        </div>
                        <button class="btn btn-outline-primary py-0 btn-sm mb-1">+ 1 ep</button>
                    </div>      
                </div>
            </div>
        </div>

        <!-- CARD EXPANSION -->
        <div id="watching-expansion" class="d-flex flex-stretch gap-2 collapse show">
            <!-- LEFT -->
            <div>
                <div class="img-container">
                    <img src="/images/Chihayafuru.webp" alt="Chihayafuru Cover">
                </div>
            </div>
            
            <!-- RIGHT -->
            <div class="d-flex flex-column">
                <h6 class="mb-0">{{Title}}</h6>
                <p class="text-muted small mb-2">{{Year}} | {{Type}}</p>

                <!-- PROGRESS -->
                <div class="progress my-1" style="height: 8px;"
                    role="progressbar" aria-label="Watched Percentage" 
                    aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 66%"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <p>{{n}}/{{n}} Ep</p>
                    <div>
                        <button class="btn btn-outline-primary btn-sm">+ 1 ep</button>
                        <button class="btn btn-outline-primary btn-sm">- 1 ep</button>
                    </div>
                </div>

                <!-- EDITABLE INPUTS -->
                <div class="mb-2">
                    <p>Min per ep: | Daily time: </p>
                    <div class="d-flex justify-content-between">
                        <label for="watching-date">Watch by:</label>
                        <input id="watching-date" class=" form-control form-control-sm" type="date">
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for="watching-dailyep">Ep per day:</label>
                        <input id="watching-dailyep" class=" form-control form-control-sm" type="number">
                    </div>
                </div>

                <!-- MORE INFO BUTTON -->
                <a href="info.html" class="text-center">
                    <button class="btn btn-primary text-center btn-sm">MORE</button>
                </a>
                
            </div>
        </div>





        <!-- CARD EXPANSION Example -->
            <div id="watching-expansion-example" class="collapse show">
                <div class="d-flex gap-2">

                    <!-- Poster -->
                    <div class="testing">
                        <div class="img-container">
                            <img src="/images/Chihayafuru.webp" alt="Chihayafuru Cover">
                        </div>
                    </div>
                    <!-- Right side -->
                    <div class=" d-flex flex-column flex-grow-1">

                        <!-- Title and meta -->
                        <h6 class="mb-0">{{Title}}</h6>
                        <p class="text-muted small mb-2">{{Year}} | {{Type}}</p>

                        <!-- Progress -->
                        <div class="mb-2">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <p class="mb-0 small">Watched: {{Watched}} / {{Total}}</p>

                                <!-- Square + button -->
                                <button class="btn btn-outline-primary btn-sm p-0 d-flex 
                                            justify-content-center align-items-center"
                                        style="width: 28px; height: 28px; line-height: 1;">
                                    +
                                </button>
                            </div>

                            <div class="progress" style="height: 6px;">
                                <div class="progress-bar" style="width: 66%;"></div>
                            </div>
                        </div>

                        <!-- Editable inputs -->
                        <div class="d-flex flex-column gap-1">

                            <div class="d-flex justify-content-between">
                                <label class="small text-muted mb-0">Watch by:</label>
                                <input type="date" class="form-control form-control-sm" style="width: 55%;">
                            </div>

                            <div class="d-flex justify-content-between">
                                <label class="small text-muted mb-0">Eps/day:</label>
                                <input type="number" class="form-control form-control-sm" style="width: 55%;">
                            </div>

                            <p class="text-muted small mb-0">Avg ep: {{Ep Length}}</p>
                        </div>
                    </div>
                </div>          
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
            crossorigin="anonymous">
        </script>
    </body>
</html>

<!-- What would happen if words got too long? -->

