.dropdown-toggle::after {
    display: none !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.watching-card {
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
    width: 111px 
}

.img-container {
    aspect-ratio: 2/3;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 0;
}

.info-container {
    flex: 0 0 auto;
    width: 66vw;
}

.sypnosis-container {
    max-height: 4rem;
    overflow: hidden;
    /* work on this */
    text-overflow: ellipsis;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/* shorthand flex: flex-grow, flew-shrink, flex-basis*/
    /* flex-basis (flex item size based on set width or height and if not its content */